.user-login {
  margin: 2rem auto 0 auto;
  max-width: 400px;
}
.user-btn {
  text-align: center;
  margin-top: 10px;
}
.user-login label {
  margin-top: 10px;
}
.user-login input {
  margin-bottom: 20px;
}
