.task-item {
  font-size: 1rem;
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr auto auto auto;
}

.task-item button {
  width: 35px;
  margin: 2px;
}

.task-item .btn-group button {
  width: 35px;
}

.task-item-label {
  margin-left: 0.5rem;
  line-height: 35px;
  cursor: pointer;
  user-select: none;
}

.task-item.done .task-item-label {
  text-decoration: line-through;
}

input[type="date"] {
  font-size: 1 rem;
  border: none;
}
input[type="text"] {
  font-size: 1rem;
}

.editing-input {
  margin: 1px;
  font-size: 0.7rem;
}

.task-item .react-datepicker-wrapper {
  width: 110px;
  font-family: "Montserrat", -apple-system, system-ui, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  border-radius: 5px;
}
.react-datepicker-wrapper {
  margin-right: 5px;
}

.task-item .react-datepicker-popper {
  z-index: 3;
}

.react-datepicker-wrapper input {
  width: 100%;
  height: 32px;
  padding-left: 2px;
  font-size: 1rem;
  border-radius: 5px;
}
.react-datepicker__input-container {
  border-radius: 5px;
  vertical-align: middle;
  line-height: 1.5;
}
