.task-item {
  font-size: 1rem;
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr auto auto auto;
}

.task-item button {
  width: 35px;
  margin: 3px;
}

.task-item-label {
  margin-left: 0.5rem;
  line-height: 35px;
  cursor: pointer;
  user-select: none;
}

.task-item.done .task-item-label {
  text-decoration: line-through;
}

.task-item.priority .task-item-label {
  font-weight: bold;
  color: tomato;
}

input[type="date"] {
  font-size: 1em;
  border: none;
}

.editing-input {
  margin: 1px;
  font-size: 1em;
}

.react-datepicker-wrapper {
  width: 120px;
}
.task-item .react-datepicker-popper {
  z-index: 3;
}

.react-datepicker-wrapper input {
  width: 100%;
  padding-left: 10px;
  font-size: 1.2rem;
}

.custom-select {
  width: 55px;
  margin: 3px;
  font-size: 1em;
  height: 35px;
  vertical-align: middle;
}
